$white-color: #F8F2E2;
$modal-border-color: #F8F2E2;
$green-color: #3BC391;
$blue-color: #2F79C3;
$deep-blue-color: #22609e;
$gray-color: #374047;
$red-color: #EB4549;
$black-color: black;
$black-color1: rgba(0,0,0,.8);
$success-color:#90c64b;

$header-bg:#f7f7f7;

$table-tr-color-1: #aaaaaa;
$table-tr-color-2: #ffffff;
$table-tr-color-hover: #cccccc;

$border-avatar-menu: 50%;

html{
  background-color: $white-color;
  .uk-pointer{
    cursor: pointer;
    &:hover{
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.8)
    }
  }
}

header{
  width: 100%;
  background-color: $blue-color;
  h1{
    width: 230px;
    box-sizing: border-box;
    color: $white-color;
    font-size: 20px;
    padding: 7px;
    background-color: $deep-blue-color;
    text-align: center;
    margin-bottom: 0;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

aside{
  background-color: $gray-color;
  position: absolute;
  top: 56px;
  left: 0;
  width: 230px;
  bottom: 0;
  box-sizing: border-box;
  .avatar-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    a{
      width: 100%;
    }
    a:hover{
      text-decoration: none !important;
    }
    .avatar-img{
      width: 60px;
      display: inline-block;
      height: 60px;
      background-color: $red-color;
      background-size: cover;
      border-radius: $border-avatar-menu;
    }
    .avatar-caption{
      display: inline-block;
      flex: 1 1 0;
      padding-left: 10px;
      box-sizing: border-box;
      & > *{
        color: $white-color;
      }
      h3{
        margin-bottom: 0;
      }
      h4{
        margin: 0 !important;
        font-size: 14px;
      }
      h5{
        margin: 0;
        font-size: 12px;
        display: flex;
        align-items: center;
        span{
          height: 5px;
          width: 5px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 5px;
        }
        span.online-status{
          background-color: $green-color;
        }
        span.offline-status{
          background-color: $red-color;
        }
      }
    }
  }
  .uk-search {
    width: 100%;
    &:before{
      color: $white-color;
    }
    .uk-search-field {
      width: 100%;
      color: $white-color;
    }
  }
  .uk-panel{
    padding-top: 5px;
    background-color: $gray-color;
    box-sizing: border-box;
    h3{
      color: $white-color !important;
      margin-bottom: 5px;
    }
    li{
      &.uk-active{
        a{
          background-color: $blue-color;
          color: white;
        }
      }
      &.uk-parent.uk-open>a,a:focus{
        background-color: $blue-color !important;
        color: white !important;
      }
    }
    a{
      color: $white-color;
      font-size: 16px;
      transition: all .5s;
      i{
        margin-right: 5px;
      }
      &:hover{
        background-color: $blue-color;
        color: white;
      }
    }
  }
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  .onoffswitch-checkbox {
    display: none;
    &:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
    }
    &:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0;
    }
  }

  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
  }

  .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    &:before, &:after {
      display: block;
      float: left;
      width: 50%;
      height: 30px;
      padding: 0;
      line-height: 30px;
      font-size: 14px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box;
    }
    &:before {
      content: "ON";
      padding-left: 25px;
      background-color: #34A7C1;
      color: #FFFFFF;
    }
    &:after {
      content: "OFF";
      padding-right: 25px;
      background-color: #EEEEEE;
      color: #999999;
      text-align: right;
    }
  }

  .onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
}

main {
  padding: 10px 10px 10px 240px;
  @media (max-width: 768px) {
    padding-left: 10px;
  }

  section {
    .snippet_container {
      padding: 8px;
      & .title {
        display: block;
        overflow: hidden;
        width: 512px;
        margin: 0;
        color: #1e0fbe;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;
        white-space: nowrap;
        text-decoration: none;
        text-overflow: ellipsis;
      }

      & .url {
        display: block;
        color: #006621;
        font-size: 14px;
        font-style: normal;
        line-height: 16px;
      }
    }
  }

  .upload-box {
    .file_upload {
      position: relative;
      overflow: hidden;
      margin: 0;
      border: 1px solid #ccc;
      font-size: 15px;
      line-height: 1;
      text-align: center;
      padding: 20px;
      //width: 100%;
      background: #fff;
      & > input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 54px;
        opacity: 0;
        cursor: pointer;
        padding: 0;
      }
    }
    .uk-grid {
      figure {
        width: 100%;
      }
    }
    .imagePrew {
      width: 100%;
      padding-top: 55%;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  .uk-accordion-title {
    margin-bottom: 0 !important;
    box-sizing: border-box;
    border-top: 1px solid $white-color;
    border-bottom: 1px solid $white-color;
  }
  .uk-accordion-content {
    padding: 0;
  }
  .profile-accordion {
    .uk-accordion-title {
      background-color: $green-color;
      color: $white-color;
      text-align: center;
    }
  }
  .profile-block {
    background-color: $green-color;
    padding: 10px;
    .avatar-profile {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .img-avatar {
        background-color: $red-color;
        width: 40%;
        padding-bottom: 40%;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
      }
    }
    .title {
      margin: 5px 0 0 0;
      width: 100%;
      color: $white-color;
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 22px;
    }
    .post-title {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: $white-color;
      margin: 0;
      text-align: center;
    }
    .up-block {
      ul {
        margin-bottom: 0;
        padding: 5px;
        list-style: none;
        li {
          width: 100%;
          a {
            padding: 4px;

            display: block;
            color: $white-color;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            transition: all .5s;
            i {
              margin-right: 5px;
            }
            &:hover {
              background-color: $white-color;
              color: $green-color;
              padding-left: 10%;
            }
          }
        }
      }
    }
  }
  .info-block {
    box-sizing: border-box;
    width: 100%;

  }
  .user-group {
    .uk-accordion {
      .uk-accordion-title {

        z-index: 1;
      }
      .uk-accordion-content {
        .uk-form {
          border-radius: 0 0 5px 5px;
          margin-top: -2px;
          background: $table-tr-color-2;
          padding: 10px;
          border-left: 1px $modal-border-color solid;
          border-right: 1px $modal-border-color solid;
          border-bottom: 1px $modal-border-color solid;
        }

      }
    }

    table {
      //width: 100%;
      //border-collapse: collapse;
      thead {
        //text-align: left;
      }
      tbody {
        tr {
          &:hover {
            background-color: $table-tr-color-hover !important;
          }
          background-color: $table-tr-color-2;
          &:nth-child(2n) {
            background-color: $table-tr-color-1;
          }
          td {
            //padding: 2px;
            //text-align: center;
          }
        }
      }
    }

  }

  .test-edit {
    #testEdit{
      h3{
        background: $header-bg;
        margin: 3px -5px -6px 5px;
        border-radius: 5px 5px 0 0;
        padding: 5px 0 5px 0;
        text-align: center;
      }
      .containerVertical{
        min-height: 200px;
        width: 100%;
        border:1px $gray-color solid;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 5px;
        margin: 5px;
        &>*{
          background: $black-color1;
          padding: 2px;
          border-radius: 5px;
          margin:  3px 0 3px 0;
          color: $white-color;
        }
      }
    }
    .new-answer{
      float: right;
      margin: 7px -20px 0px 0;
      width: 15px;
      height: 15px;
    }
    .label-answer{
      float: right;
      margin: 0 -25px -39px 0;
      width: 40px;
      height: 30px;
      background: #dddddd;
      border-radius: 5px;
      transition: 1s;
      &.active{
        background: $success-color;
      }
    }
  }
  .question-index{
    .new-answer{
      float: right;
      margin: -33px -20px 0 0;
      width: 15px;
      height: 15px;
    }
    .label-answer{
      float: right;
      margin: -50px -24px 0 0;
      width: 37px;
      height: 50px;
      background: #dddddd;
      border-radius: 5px;
      transition: 1s;
      &.active{
        background: $success-color;
      }
    }
  }
  .question-edit{
    .new-answer{
      float: right;
      margin: -33px -20px 0 0;
      width: 15px;
      height: 15px;
    }
    .label-answer{
      float: right;
      margin: -50px -24px 0 0;
      width: 37px;
      height: 50px;
      background: #dddddd;
      border-radius: 5px;
      transition: 1s;
      &.active{
        background: $success-color;
      }
    }
  }
}