html {
  background-color: #F8F2E2; }
  html .uk-pointer {
    cursor: pointer; }
    html .uk-pointer:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); }

header {
  width: 100%;
  background-color: #2F79C3; }
  header h1 {
    width: 230px;
    box-sizing: border-box;
    color: #F8F2E2;
    font-size: 20px;
    padding: 7px;
    background-color: #22609e;
    text-align: center;
    margin-bottom: 0; }
    @media (max-width: 768px) {
      header h1 {
        width: 100%; } }

aside {
  background-color: #374047;
  position: absolute;
  top: 56px;
  left: 0;
  width: 230px;
  bottom: 0;
  box-sizing: border-box; }
  aside .avatar-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box; }
    aside .avatar-box a {
      width: 100%; }
    aside .avatar-box a:hover {
      text-decoration: none !important; }
    aside .avatar-box .avatar-img {
      width: 60px;
      display: inline-block;
      height: 60px;
      background-color: #EB4549;
      background-size: cover;
      border-radius: 50%; }
    aside .avatar-box .avatar-caption {
      display: inline-block;
      flex: 1 1 0;
      padding-left: 10px;
      box-sizing: border-box; }
      aside .avatar-box .avatar-caption > * {
        color: #F8F2E2; }
      aside .avatar-box .avatar-caption h3 {
        margin-bottom: 0; }
      aside .avatar-box .avatar-caption h4 {
        margin: 0 !important;
        font-size: 14px; }
      aside .avatar-box .avatar-caption h5 {
        margin: 0;
        font-size: 12px;
        display: flex;
        align-items: center; }
        aside .avatar-box .avatar-caption h5 span {
          height: 5px;
          width: 5px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 5px; }
        aside .avatar-box .avatar-caption h5 span.online-status {
          background-color: #3BC391; }
        aside .avatar-box .avatar-caption h5 span.offline-status {
          background-color: #EB4549; }
  aside .uk-search {
    width: 100%; }
    aside .uk-search:before {
      color: #F8F2E2; }
    aside .uk-search .uk-search-field {
      width: 100%;
      color: #F8F2E2; }
  aside .uk-panel {
    padding-top: 5px;
    background-color: #374047;
    box-sizing: border-box; }
    aside .uk-panel h3 {
      color: #F8F2E2 !important;
      margin-bottom: 5px; }
    aside .uk-panel li.uk-active a {
      background-color: #2F79C3;
      color: white; }
    aside .uk-panel li.uk-parent.uk-open > a, aside .uk-panel li a:focus {
      background-color: #2F79C3 !important;
      color: white !important; }
    aside .uk-panel a {
      color: #F8F2E2;
      font-size: 16px;
      transition: all .5s; }
      aside .uk-panel a i {
        margin-right: 5px; }
      aside .uk-panel a:hover {
        background-color: #2F79C3;
        color: white; }

main {
  padding: 10px 10px 10px 240px; }
  @media (max-width: 768px) {
    main {
      padding-left: 10px; } }
  main .upload-box .file_upload {
    position: relative;
    overflow: hidden;
    margin: 0px;
    border: 1px solid #ccc;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    padding: 20px;
    width: 100%;
    background: #fff; }
    main .upload-box .file_upload > input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 54px;
      opacity: 0;
      cursor: pointer;
      padding: 0; }
  main .upload-box .uk-grid figure {
    width: 100%; }
  main .upload-box .imagePrew {
    width: 100%;
    padding-top: 55%;
    background-position: 50% 50%;
    background-size: cover; }
  main .uk-accordion-title {
    margin-bottom: 0 !important;
    box-sizing: border-box;
    border-top: 1px solid #F8F2E2;
    border-bottom: 1px solid #F8F2E2; }
  main .uk-accordion-content {
    padding: 0; }
  main .profile-accordion .uk-accordion-title {
    background-color: #3BC391;
    color: #F8F2E2;
    text-align: center; }
  main .profile-block {
    background-color: #3BC391;
    padding: 10px; }
    main .profile-block .avatar-profile {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      main .profile-block .avatar-profile .img-avatar {
        background-color: #EB4549;
        width: 40%;
        padding-bottom: 40%;
        border-radius: 50%;
        background-position: center;
        background-size: cover; }
    main .profile-block .title {
      margin: 5px 0 0 0;
      width: 100%;
      color: #F8F2E2;
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 22px; }
    main .profile-block .post-title {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #F8F2E2;
      margin: 0;
      text-align: center; }
    main .profile-block .up-block ul {
      margin-bottom: 0;
      padding: 5px;
      list-style: none; }
      main .profile-block .up-block ul li {
        width: 100%; }
        main .profile-block .up-block ul li a {
          padding: 4px;
          display: block;
          color: #F8F2E2;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 16px;
          transition: all .5s; }
          main .profile-block .up-block ul li a i {
            margin-right: 5px; }
          main .profile-block .up-block ul li a:hover {
            background-color: #F8F2E2;
            color: #3BC391;
            padding-left: 10%; }
  main .info-block {
    box-sizing: border-box;
    width: 100%; }
  main .user-group .uk-accordion .uk-accordion-title {
    z-index: 1; }
  main .user-group .uk-accordion .uk-accordion-content .uk-form {
    border-radius: 0 0 5px 5px;
    margin-top: -2px;
    background: #ffffff;
    padding: 10px;
    border-left: 1px #F8F2E2 solid;
    border-right: 1px #F8F2E2 solid;
    border-bottom: 1px #F8F2E2 solid; }
  main .user-group table tbody tr {
    background-color: #ffffff; }
    main .user-group table tbody tr:hover {
      background-color: #cccccc !important; }
    main .user-group table tbody tr:nth-child(2n) {
      background-color: #aaaaaa; }
  main .test-edit #testEdit h3 {
    background: #f7f7f7;
    margin: 3px -5px -6px 5px;
    border-radius: 5px 5px 0 0;
    text-align: center; }
  main .test-edit #testEdit .containerVertical {
    min-height: 200px;
    width: 100%;
    border: 1px #374047 solid;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px; }
    main .test-edit #testEdit .containerVertical > * {
      background: rgba(0, 0, 0, 0.8);
      padding: 2px;
      border-radius: 5px;
      margin: 3px 0 3px 0;
      color: #F8F2E2; }
  main .test-edit .new-answer {
    float: right;
    margin: 7px -20px 0px 0;
    width: 15px;
    height: 15px; }
  main .test-edit .label-answer {
    float: right;
    margin: 0 -25px -39px 0;
    width: 40px;
    height: 30px;
    background: #dddddd;
    border-radius: 5px;
    transition: 1s; }
    main .test-edit .label-answer.active {
      background: #90c64b; }
  main .question-index .new-answer {
    float: right;
    margin: -33px -20px 0 0;
    width: 15px;
    height: 15px; }
  main .question-index .label-answer {
    float: right;
    margin: -50px -24px 0 0;
    width: 37px;
    height: 50px;
    background: #dddddd;
    border-radius: 5px;
    transition: 1s; }
    main .question-index .label-answer.active {
      background: #90c64b; }
  main .question-edit .new-answer {
    float: right;
    margin: -33px -20px 0 0;
    width: 15px;
    height: 15px; }
  main .question-edit .label-answer {
    float: right;
    margin: -50px -24px 0 0;
    width: 37px;
    height: 50px;
    background: #dddddd;
    border-radius: 5px;
    transition: 1s; }
    main .question-edit .label-answer.active {
      background: #90c64b; }

/*# sourceMappingURL=app.css.map */
